.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-gray);

  &__navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    padding: var(--space-base) 0;
    margin: 0;

    &-item {
      padding: var(--space-xs) var(--space-s);
      margin: 0;

      &-link {
        text-decoration: none;
        color: var(--color-primary);

        &:hover {
          color: var(--color-highlight);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .header__navigation {
    max-width: var(--boxed-max-width);
  }
}
