.banner {
  $self: &;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  &__video {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--banner__text-color, var(--color-primary));
    font-size: var(--banner__text-font-size, var(--space-xl));
    order: 1;
  }

  &__text-distribution-over {
    #{ $self }__text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__text-distribution-top {
    #{ $self }__text {
      order: 1;
    }
    #{ $self }__image,
    #{ $self }__video {
      order: 2;
    }
  }

  &__text-distribution-bottom {
    #{ $self }__text {
      order: 2;
    }
    #{ $self }__image,
    #{ $self }__video {
      order: 1;
    }
  }

  &__text-horizontal-left {
    #{ $self }__text {
      align-items: flex-start;
    }
  }

  &__text-horizontal-center {
    #{ $self }__text {
      align-items: center;
    }
  }

  &__text-horizontal-right {
    #{ $self }__text {
      align-items: flex-end;
    }
  }

  &__text-vertical-top {
    #{ $self }__text {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__text-vertical-bottom {
    #{ $self }__text {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}
